@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply default styles to the body */
body {
  @apply bg-[#FFFFFF] text-[#7d835f];
  font-family: 'Inter', sans-serif;
}

/* Styling for headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  color: #D4AF37; /* Gold color for premium look */
}

/* Links */
a {
  @apply text-[#D4AF37];
  transition: color 0.3s ease;
}

a:hover {
  @apply text-[#D4AF38];
}

/* Buttons */
/* button {
  @apply bg-[#D4AF37] text-white py-2 px-4 rounded-lg shadow-md;
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  @apply bg-[#BFA12C];
  transform: scale(1.05);
} */

/* Default text inputs */
input, textarea {
  @apply text-[#D2C385];
  font-family: 'Lato', sans-serif;
  /* background-color: #FFFFF0; Ivory */
}

input:focus, textarea:focus {
  @apply outline-none ring-2 ring-[#D4AF37];
}

/* Cards or content containers */
.card {
  @apply bg-[#FFFFF0] p-6 rounded-lg shadow-lg;
  border: 1px solid #F7E7CE;
}

/* Footer or secondary text */
.footer-text {
  @apply text-[#6E7073] text-sm;
}


/* Style the scrollbar */
::-webkit-scrollbar {
  width: 8px;  /* Smaller width for a sleeker look */
  height: 8px; /* For horizontal scrollbar */
}

/* Style the scrollbar track (the background) */
::-webkit-scrollbar-track {
  background: #D4AF37; /* Deep/parent color */
  border-radius: 10px;
  z-index: 1; /* Ensuring it's not on top of the navbar */
}

/* Style the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #D2C385; /* Light/children color */
  border-radius: 10px;
  border: 2px solid #D4AF37; /* Optional: A border to make it more distinct */
}

/* Optional: Hover effect to change thumb color */
::-webkit-scrollbar-thumb:hover {
  background: #C9B172; /* Darker shade for hover */
}

/* Ensure that the scrollbar does not have a high z-index */
html {
  z-index: 0;
}

/* Optional: Fixing overflow issues in body or main content */
body {
  overflow: auto;
}
